* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: .4rem;
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.card-container {
  gap: 1rem;
  display: flex;
}